<!DOCTYPE html>
<html lang="en">

<head data-dir="{{:dir}}">
    <title>{{:title}}</title>
    <link rel="icon" type="image/x-icon" href="{{:dir}}/favicon.ico" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- <script src="https://cdn.logrocket.com/LogRocket.min.js"></script> -->

    <link rel="stylesheet" href="{{:dir}}/css/openlayers.css" />
    <link rel="stylesheet" href="{{:dir}}/css/control.css" />
    <link rel="stylesheet" href="{{:dir}}/views/desktop.css" />

    <link rel="stylesheet" href="{{:dir}}/codemirror/codemirror.css">
    <script src="{{:dir}}/codemirror/codemirror.js" defer></script>
    <script src="{{:dir}}/codemirror/javascript.js" defer></script>
    <script src="{{:dir}}/codemirror/jsonlint.js" defer></script>
    <script src="{{:dir}}/codemirror/lint.js" defer></script>
    <script src="{{:dir}}/codemirror/lintjson.js" defer></script>

    <script src="{{:dir}}/js/build/xyz_openlayers.js" defer></script>
    <script src="{{:dir}}/views/desktop.js" defer></script>
</head>

<body
style="grid-template-columns: 333px 10px auto; grid-template-rows: minmax(0, 1fr) 0;"
data-nanoid={{:nanoid}}
data-log={{:log}}
data-user={{:user}}
data-token={{:token}}>

    <div id="listviews" class="listviews">

        <div id="gazetteer"></div>

        <div class="scrolly">

            <div class="listview">
                <div id="localeDropdown"></div>
                <div class="title secondary-colour-bg">Layers</div>
                <div id="layers" class="content"></div>
            </div>

            <div class="listview">
                <div class="title secondary-colour-bg">Locations</div>
                <div id="clear_locations" class="btn_text cursor primary-colour">Clear all locations.</div>
                <div id="locations" class="content"></div>
            </div>

            <div class="scrolly_spacer"></div>

        </div>

    </div>

    <div id="vertDivider"></div>

    <div class="mapview">

        <div class="btn_column lv1 noselect desktop">

            <button id="btnGazetteer" title="Open Gazetteer" style="display: none;">
                <div class="xyz-icon icon-search"></div>
            </button>

            <button id="btnLocate" title="Current location" style="display: none;">
                <div class="xyz-icon icon-gps-not-fixed"></div>
            </button>

            <button id="btnZoomIn" class="enabled">
                <div class="xyz-icon icon-add"></div>
            </button>

            <button id="btnZoomOut" class="enabled">
                <div class="xyz-icon icon-remove"></div>
            </button>

            <!-- <a id="btnDocumentation" title="Open Documentation" href="https://geolytix.github.io/xyz/docs" target="_blank" class="enabled">
                <div class="xyz-icon icon-school"></div>
            </a> -->
            
            <a id="btnLogin" title="{{:btnLogin_text}}" {{:btnLogin}} href="{{:dir}}{{:btnLogin_path}}" class="enabled">
                <div class="xyz-icon icon-lock-open"></div>
            </a>
            
            <a id="btnAdmin" title="Open account admin view" {{:btnAdmin}} href="{{:dir}}/user/admin" target="_blank" class="enabled">
                <div class="xyz-icon icon-supervisor-account"></div>
            </a>
    
            <button id="btnWorkspace" title="Open workspace configuration view" {{:btnEditor}} class="enabled">
                <div class="xyz-icon icon-settings"></div>
            </button>

            <!-- <button id="btnLogRocket" title="Start a Log Rocket session to record possible bugs." class="enabled">
                <div class="xyz-icon icon-bug-report"></div>
            </button> -->
        
        </div>

        <div id="Map" class="map" ></div>

    </div>

    <div id="dataview" class="dataview">

        <div id="hozDivider"></div>

        <div class="resize_bar"></div>

        <nav class="nav_bar">
            <ul class="nav_bar-nav"></ul>
            <div class="tab-dropdown-container">
                <button class="tab-dropdown primary-colour">»</button>
                <div class="tab-dropdown-content">
                    <ul></ul>
                </div>
            </div>
        </nav>

        <div class="tab-content"></div>

        <div class="btn_column lv0 noselect desktop">
        
            <button style="margin-top: -10px; background: none;" id="toggleDataview" class="enabled">
                <div class="xyz-icon icon-vertical-align-top"></div>
            </button>

            <button id="btnDataViewport" style="display: none;" class="enabled">
                <div class="xyz-icon icon-fullscreen"></div>            
            </button>
                    
        </div>

    </div>

    <div id="workspace" class="workspace" style="display: none;">

        <div class="btn_column noselect">
        
            <button id="btnCloseWS" class="enabled">
                <div class="xyz-icon icon-close"></div>
            </button>
        
            <button id="btnUploadWS" class="enabled">
                <div class="xyz-icon icon-backup"></div>
            </button>
        
            <button id="btnFileWS" class="enabled">
                <div class="xyz-icon icon-description"></div>
                <input id="fileInputWS" type="file" accept=".json" style="display: none;">
            </button>            
    
        </div>

        <div id="codemirror" class="codemirror"></div>

    </div>

</body>

</html>