body {
    overflow-y: scroll;
    overflow-x: hidden;
}

.mapview {
    position: fixed;
    height: calc(100% - 50px);
}

#spacer {
    height: calc(100% - 50px);
}

#ctrls {
    display: inline-flex;
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px slategrey;
    z-index: 1000;
}

#ctrls>.tab {
    flex-grow: 1;
    text-align: center;
    height: 50px;
    border-bottom: 1px solid #090;
}

#ctrls>.tab>.xyz-icon {
    width: 100%;
    height: 100%;
    filter: invert(45%) sepia(55%) saturate(608%) hue-rotate(90deg) brightness(93%) contrast(90%);
}

#ctrls>.tab.active {
    background-color: #090;
}

#ctrls>.tab.active>.xyz-icon {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(56deg) brightness(100%) contrast(105%);
}

#ctrls>.tab:not(.active)>.listview {
    display: none;
}

#ctrls .listview {
    padding: 20px;
    overflow-y: scroll;
    height: calc(100% - 50px);
    position: absolute;
    width: 100%;
    left: 0;
    top: 50px;
}

#ctrls .listview.shadow {
    box-shadow: inset 0px 4px 4px -4px #777;
}

#localeDropdown {
    margin-bottom: 4px;
}

#localeDropdown .ul-drop .head span {
    padding: 4px;
    border-radius: 2px;
}

.gazetteer {
    position: fixed;
    left: 0;
    box-shadow: 0 3px 3px -3px #000;
}

.gazetteer input {
    padding: 5px 0 5px 70px;
}

.gazetteer ul {
    padding-left: 70px;
    width: 100%;
}

.gazetteer ul li {
    font-size: 20px;
    color: #090;
    list-style: none;
    line-height: 1.5em;
}