<!DOCTYPE html>
<html lang="en">

<head data-dir="{{:dir}}">
    <title>{{:title}}</title>
    <link rel="icon" type="image/x-icon" href="{{:dir}}/favicon.ico" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{{:dir}}/css/{{:engine}}.css" />
    <link rel="stylesheet" href="{{:dir}}/css/mobile.css" />

    <script src="{{:dir}}/js/build/xyz_{{:engine}}.js" defer></script>
    <script src="{{:dir}}/views/mobile.js" defer></script>
</head>

<body
    data-nanoid={{:nanoid}} 
    data-log={{:log}} 
    data-user={{:user}} 
    data-logrocket={{:logrocket}}
    data-token={{:token}}>

    <div id="Map" class="mapview map" style="margin-top: 0;"></div>

    <div id="gazetteer" class="gazetteer"></div>

    <div class="btn_column noselect mobile">

        <button id="btnGazetteer" {{:btnSearch}}>
            <div class="xyz-icon icon-search"></div>
        </button>

        <button id="btnLocate" title="Current location" {{:btnLocate}}>
            <div class="xyz-icon icon-gps-not-fixed"></div>
        </button>

        <button id="btnZoomIn" class="enabled">
            <div class="xyz-icon icon-add"></div>
        </button>

        <button id="btnZoomOut" class="enabled">
            <div class="xyz-icon icon-remove"></div>
        </button>

        <a id="btnDocumentation" title="Open Documentation" {{:btnDocumentation}} href="{{:hrefDocumentation}}" class="enabled">
            <div class="xyz-icon icon-school"></div>
        </a>
        
        <a id="btnLogin" title="{{:btnLogin_text}}" {{:btnLogin}} href="{{:dir}}{{:btnLogin_path}}" class="enabled">
            <div class="xyz-icon icon-lock-open"></div>
        </a>

        <button id="btnLogRocket" title="Start a Log Rocket session to record possible bugs." {{:btnLogRocket}} class="enabled">
            <div class="xyz-icon icon-bug-report"></div>
        </button>

    </div>

    <div id="spacer"></div>

    <div id="ctrls">

        <div id="tabLayers" class="tab active">
            <div class="xyz-icon icon-layers"></div>
            <div class="listview">
                <div id="localeDropdown"></div>
                <div class="title">Layers</div>
                <div id="layers" class="content"></div>
            </div>
        </div>

        <div id="tabLocations" class="tab" style="display: none;">
            <div class="xyz-icon icon-location"></div>
            <div class="listview">
                <div class="title">Locations</div>
                <button id="clear_locations" class="btn_text cursor primary-colour">Clear all locations.</button>
                <div id="locations" class="content"></div>
            </div>
        </div>

    </div>

</body>

</html>