.attribution {
    bottom: 0;
    right: 0;
    padding: 0 5px 5px 0;
    margin-left: 150px;
    position: absolute;
    z-index: 999;
    text-align: right;
    /*font-family: ffmark_bold, sans-serif;*/
    font-weight: bold;
    /*font-size: 18px;*/
    font-size: 130%;
    /*text-shadow: 1px 1px 1px $glxlightgreen;*/

    pointer-events: none;

    * {
        pointer-events: auto;
    }

    a {
        margin-left: 10px;
        white-space: nowrap;
        display: inline-block;
    }

    .logo {
        width: 300px;
        height: 40px;
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
    }
}