.checkbox {
    display: block;

    input {
        display: none;
    }

    >span {
        display: inline-block;
        vertical-align: middle;
    }

    >div {
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 20px;
        margin-right: 5px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-image: url("../icons/icon-checkbox-unchecked.svg");
    }

    input:checked+div {
        background-image: url("../icons/icon-checkbox-checked.svg");
    }

    input:disabled+div {
        opacity: 0.5;
    }
}

.link-with-img {
    display: block;
    margin-top: 5px;

    .xyz-icon {
        width: 20px;
        height: 20px;
        display: inline-block;
    }

    >* {
        vertical-align: middle;
    }
}