$primary_colour:  #1F964D;
$secondary_colour: #DEF6CA;
$tertiary_colour: hotpink;
$off_white: ghostwhite;
$off_black: #383836;


/* Color scheme */

.off-white {
    color: $off_white;
}

.off-black {
    color: $off_black;
}

/* Primary colour properties */

.primary-colour {
    color: $primary_colour;
}

.primary-colour-bg {

    background-color: $primary_colour;
}

.primary-colour-bb { /* border bottom for the active tab */
	border-bottom: 3px solid $primary_colour;
}

/* Secondary colour properties */

.secondary-colour {
    color: $secondary_colour;
}

.secondary-colour-bg {
    background-color: $secondary_colour;
}

.secondary-colour-shadow {
	text-shadow: 1px 1px 1px $secondary_colour;
}

/* Tertiary colour properties */

.tertiary-colour {
    color: $tertiary_colour;
}

.tertiary-colour-bg {
    background-color: $tertiary_colour;
}