/*$primary_colour:  #1F964D;
$secondary_colour: #DEF6CA; //#cae0b8;
$tertiary_colour: hotpink;
$off_white: ghostwhite;
$off_black: #383836;*/

body {
    color: #383836;
}

a {
    color: #383836;
}

/* Color scheme */

.off-white {
    color: ghostwhite;
}

.off-black {
    color: #3F3F3F;/*#383836;*/
}

.off-black-filter {
    filter: invert(24%) sepia(23%) saturate(0%) hue-rotate(271deg) brightness(86%) contrast(90%);
}

/* Primary colour properties */

.primary-colour {
    color: #1F964D;
}

.primary-colour-bg {

    background-color: #1F964D;
}

.primary-colour-bb { /* border bottom for the active tab */
	border-bottom: 1px solid #1F964D;
}

.primary-colour-filter {
    filter: invert(45%) sepia(55%) saturate(608%) hue-rotate(90deg) brightness(93%) contrast(90%);
}

input[type=range]::-webkit-slider-thumb {
    background: #1F964D;
}

input[type=range]::-moz-range-thumb {
    background: #1F964D;
}

/* Secondary colour properties */

.secondary-colour {
    color: #cae0b8;
}

.secondary-color-filter {
    filter: invert(90%) sepia(21%) saturate(301%) hue-rotate(48deg) brightness(104%) contrast(93%);
}


.secondary-colour-bg {
    background-color: #cae0b8;
}

.secondary-colour-bb {
    border-bottom: solid 1px #cae0b8;
}

.secondary-colour-shadow {
	text-shadow: 1px 1px 1px #cae0b8;
}

.contextmenu li:hover {
    background-color: #cae0b8;
}

.scroll-list li:hover {
    background-color: #cae0b8;
}

/* Tertiary colour properties */

.tertiary-colour {
    color: hotpink;
}

.tertiary-colour-bg {
    background-color: hotpink;
}

/* off-white peoperties */

.context li:hover {
    background-color: ghostwhite;
}