/* Color scheme */

.off-white {
    color: ghostwhite;
}

.off-black {
    color: #383836;
}

/* Primary colour properties */

.primary-colour {
    color: #1F964D;
}

.primary-colour-bg {
    background-color: #1F964D;
}

.primary-colour-bb { /* border bottom for the active tab */
	border-bottom: 3px solid #1F964D;
}

/* Secondary colour properties */

.secondary-colour {
    color: #DEF6CA;
}

.secondary-colour-bg {
    background-color: #DEF6CA;;
}

.secondary-colour-shadow {
	text-shadow: 1px 1px 1px #DEF6CA;
}

/* Tertiary colour properties */

.tertiary-colour {
    color: hotpink;
}

.tertiary-colour-bg {
    background-color: hotpink;
}