.listview {

    .title {
        font-weight: bold;
        font-size: 107%;
        margin-bottom: 10px;
        padding: 4px;
        border-radius: 2px;
    }
    .drawer {
        margin-top: 4px;
        &.expandable {
            max-height: 37px;
            overflow: hidden;
            transition: max-height 0.3s ease-out;
            .icon-expander {
                background-image: url("../icons/icon-keyboard-arrow-down.svg");
            }
        }
        &.expanded {
            overflow: visible;
            max-height: none !important;
            .icon-expander {
                background-image: url("../icons/icon-keyboard-arrow-up.svg");
            }
        }
        &.drawer-group {

                .header {
                    font-size: 93%;
                    margin-left: 12px;
                    border-bottom: 1px solid #bbb;
                    padding-right: 4px;
                }

                .dashboard {
                    margin-left: 12px;
                }

            .header-group {
                font-weight: bold !important;
                font-size: 100%;
                line-height: 2;
                display: flex;
                max-height: 37px;

                >:nth-child(1){
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
    
                >:nth-child(2){
                    margin-left: auto;
                }
                
                &:hover {
                    cursor: pointer;
                }
            }
            &.expandable-group {
                max-height: 37px;
                overflow: hidden;
                transition: max-height 0.3s ease-out;
                border-bottom: solid 1px #bbb;

                .icon-group-expander {
                    background-image: url("../icons/icon-keyboard-arrow-down.svg");
                }
            }
            &.expanded-group {
                max-height: none !important;
                overflow: visible;
                border-bottom: none;

                .icon-group-expander {
                    background-image: url("../icons/icon-keyboard-arrow-up.svg");
                }
            }
        }
        .header {
            font-size: 96%;
            line-height: 2;
            border-bottom: solid 1px #bbb;
            display: flex;
            padding: 4px 0;
            margin-left: 4px;
            max-height: 37px;

            >:nth-child(1){
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            >:nth-child(2){
                margin-left: auto;
            }
            
            img {
                max-width: 20px;
                margin-left: 5px;
            }
            &:hover {
                cursor: pointer;
            }
            &.edited {
                font-weight: bold;
            }

            i.inactive {
                color: #849483
            }
        }
        .meta {
            margin-top: 10px;
            a {
                font-weight: 600;
            }
        }
        .dashboard {
            margin-left: 4px;
            border-bottom: 1px solid rgba(200, 200, 200, 0.1);
            font-size: 93%;
            .title {
                font-weight: bold;
                font-size: 100%;
                margin-bottom: 7px;
            }
            .legend>svg {
                width: 100%;
            }
            .panel {
                padding-top: 10px;
                border-bottom: 1px solid #bbb;
                margin-left: 4px;
                &.expandable {
                    max-height: 30px;
                    overflow: hidden;
                    transition: max-height 0.3s ease-out;
                }
                &.expanded {
                    max-height: none !important;
                    overflow: visible;
                }
            }

            .half {
                width: 48%;
                display: inline-block;
                &.right {
                    float: right;
                }
            }

            .third {
                width: 15%;
                display: inline-block;
                margin: 1px;
                &.right {
                    float: right;
                }
            }
        }

        .link-with-img {
            display: block;
            margin-top: 5px;
            .xyz-icon{
                width: 20px;
                height: 20px;
                display: inline-block;
            }
            >* {
                vertical-align: middle;
            }
        }
    }
}