.listview {

    .title {
        font-weight: bold;
        font-size: 107%;
        margin-bottom: 10px;
        padding: 4px;
        border-radius: 2px;
    }

    .meta {
        margin-top: 10px;

        a {
            font-weight: 600;
        }
    }
}