.location-view {
    margin: 5px 0;

    &.drawer {
        background-color: #fff;
        padding: 0 5px;

        >.header {
            padding: 5px 0;
        }
    }

    .drawer.panel {

        max-height: 30px;

        >.header {
            height: 30px;
            padding: 5px 0;
        }

        table {
            width: 100%;
            padding-left: 10px;
        }
    }

    >table {
        width: 100%;
        text-align: left;
        table-layout: fixed;
    }

    .label {
        padding-top: 5px;
    }

    .lv-0 {
        font-size: 95%;
        font-weight: bold;
    }

    .lv-1 {
        font-size: 90%;
    }

    .lv-2 {
        font-size: 85%;
        padding-left: 10px;
    }

    img {
        width: 100%;
    }

    .num {
        text-align: right;
        font-weight: 400;
    }

}