.location-view {
    margin: 5px 0;

    &.drawer {

        >.header {
            padding: 5px 0;
        }
    }

    .drawer.group {

        >.header {
            padding: 5px 0;
        }
    }

    .drawer.block {

        >.header {
            padding: 5px 0;
        }
    }

    >table {
        width: 100%;
        text-align: left;
        table-layout: fixed;
    }

    .label {
        padding-top: 5px;
    }

    textarea {
        resize: none;
        width: 100%;
    }

    input {
        width: 100%;
        font-family: inherit;
        margin: 5px 0 7px 0;
        box-sizing: border-box;
        padding-left: 3px;
    }

    .range {
        padding: 10px 0 10px 10px;
    }

    .lv-0 {
        font-size: 97%;
        font-weight: 700;
    }

    .lv-1 {
        font-size: 96%;
    }

    .lv-2 {
        font-size: 95%;
        padding-left: 10px;
    }

    .val {
        font-weight: 400;
    }

    img {
        width: 100%;
    }

    .num {
        text-align: right;
    }

    .t-expander {
        vertical-align: bottom;
        float: right;
        padding-right: 5px;
    }

}