/* Error: expected "{".
 *    ,
 * 26 | @import url('https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu:300,400,500,700');
 *    |                                                                                     ^
 *    '
 *   public/css/control.scss 26:85  @import
 *   public/css/mobile.scss 1:9     root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: expected \"{\".\a    \2577 \a 26 \2502  @import url('https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu:300,400,500,700');\a    \2502                                                                                      ^\a    \2575 \a   public/css/control.scss 26:85  @import\a   public/css/mobile.scss 1:9     root stylesheet";
}
